body {
    background-attachment: fixed;
    background-image: url(images/bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin: 0 auto;
    width: 700px;
}

.img-html {
    float: left;
}

.img-css {
    float: right;
}